.icons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
}

.link {
  font-size: 2rem;
  display: flex;
  gap: 15px;
  align-items: center;
}
